body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("the images/pexels-media-8525497-1658815421798\ \(1\).jpeg");
    background-size: cover;
    background-position:bottom center;
     width: 100%;
    height: 300vh;
    backdrop-filter: blur(50px);
    background-size: cover;
   
}

.create-account-form{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: none;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.create-account-form h1{
    color: #ffffff;
    margin-bottom: 30px;
    
}
.input-box{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border: 2px solid #733380;
    outline: none;
}
button{
    background-color:#733380;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.create-btn{
    background-color: rgb(54, 9, 50);
}
.create-btn:hover,
.create-btn.active{
    background-color: #733380;
}
.facebook-btn{
    background-color: #733380;

}
.facebook-btn:hover,
.facebook-btn.active{
   background-color:rgb(54, 9, 50);
}
a{
    text-decoration: none;
}

hr{
margin-top: 50px;
width: 80%;
}

p{
    color: white;
    font-size: 15px;
}
.or{
    color: white;
    width: 30px;
    margin: -28px auto 10px;
}
img{
width: 90px;
margin-top: -60px;
}